<div class='l-filters'>

    <div class='toggles'>
        <div class='toggles-tags-button-wrapper-mobile' hidden>
            <button class='toggles-tags-button buttons is-enabled-buttons'>
                <div class='svg'>
                    <svg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                        <path
                            d='M11.7766 4.20168L6.20164 4.20168C5.09707 4.20168 4.20164 5.09711 4.20164 6.20168L4.20164 11.7766C4.20164 12.307 4.41235 12.8158 4.78743 13.1908L15.1824 23.5858C15.9634 24.3668 17.2298 24.3668 18.0108 23.5858L23.5857 18.0109C24.3668 17.2298 24.3668 15.9635 23.5857 15.1824L13.1908 4.78747C12.8157 4.41239 12.307 4.20168 11.7766 4.20168Z'
                            stroke='#EBEBEB'
                            stroke-width='1.5'
                        ></path>
                        <circle
                            cx='10.2941'
                            cy='10.2941'
                            r='2.22104'
                            transform='rotate(45 10.2941 10.2941)'
                            stroke='#EBEBEB'
                            stroke-width='1.5'
                        ></circle>
                    </svg>
                </div>
                <span>Теги</span>
            </button>
        </div>

        <div class='toggles-filters-button-wrapper-mobile' hidden>
            <button class='toggles-filters-button buttons is-enabled-buttons'>
                <div class='svg'>
                    <svg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                        <path
                            d='M14.8248 13.1513H0.750729C0.336014 13.1513 0 12.8153 0 12.4007C0 11.9859 0.336014 11.6499 0.750729 11.6499H14.8248C15.2396 11.6499 15.5756 11.9859 15.5756 12.4007C15.5756 12.8153 15.2396 13.1513 14.8248 13.1513Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2238 13.1514H22.7571C22.3424 13.1514 22.0063 12.8153 22.0063 12.4006C22.0063 11.9859 22.3424 11.6499 22.7571 11.6499H30.2238C30.6385 11.6499 30.9746 11.9859 30.9746 12.4006C30.9746 12.8153 30.6385 13.1514 30.2238 13.1514Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M10.8586 22.6583H0.750729C0.336014 22.6583 0 22.3223 0 21.9076C0 21.493 0.336014 21.1569 0.750729 21.1569H10.8586C11.2733 21.1569 11.6093 21.493 11.6093 21.9076C11.6093 22.3223 11.2733 22.6583 10.8586 22.6583Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2238 22.6583H18.7905C18.3759 22.6583 18.0398 22.3223 18.0398 21.9076C18.0398 21.493 18.3759 21.1569 18.7905 21.1569H30.2238C30.6385 21.1569 30.9746 21.493 30.9746 21.9076C30.9746 22.3223 30.6385 22.6583 30.2238 22.6583Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M6.54759 3.84319H0.750729C0.336014 3.84319 0 3.50713 0 3.09247C0 2.6778 0.336014 2.34174 0.750729 2.34174H6.54759C6.96225 2.34174 7.29832 2.67775 7.29832 3.09247C7.29832 3.50718 6.9623 3.84319 6.54759 3.84319Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2239 3.84319H14.4801C14.0654 3.84319 13.7294 3.50718 13.7294 3.09247C13.7294 2.67775 14.0654 2.34174 14.4801 2.34174H30.2242C30.6388 2.34174 30.9749 2.67775 30.9749 3.09247C30.9746 3.50713 30.6385 3.84319 30.2239 3.84319Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M8.8892 6.18424C7.18383 6.18424 5.79675 4.79717 5.79675 3.09184C5.79675 1.38708 7.18383 0 8.8892 0C10.594 0 11.981 1.38708 11.981 3.09184C11.9807 4.79722 10.5937 6.18424 8.8892 6.18424ZM8.8892 1.50151C8.01204 1.50151 7.29826 2.21499 7.29826 3.09184C7.29826 3.969 8.01204 4.68278 8.8892 4.68278C9.76606 4.68278 10.4795 3.96895 10.4795 3.09184C10.4793 2.21504 9.76575 1.50151 8.8892 1.50151Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M13.0432 25C11.3378 25 9.95081 23.6129 9.95081 21.9075C9.95081 20.2025 11.3378 18.8154 13.0432 18.8154C14.7483 18.8154 16.1353 20.2024 16.1353 21.9075C16.135 23.6129 14.748 25 13.0432 25ZM13.0432 20.3169C12.166 20.3169 11.4523 21.0305 11.4523 21.9077C11.4523 22.7848 12.166 23.4987 13.0432 23.4987C13.9204 23.4987 14.6338 22.7848 14.6338 21.9077C14.6338 21.0305 13.9201 20.3169 13.0432 20.3169Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M17.1662 15.4921C15.4612 15.4921 14.0741 14.1051 14.0741 12.4C14.0741 10.6952 15.4612 9.30817 17.1662 9.30817C18.8713 9.30817 20.2583 10.6952 20.2583 12.4C20.2583 14.1051 18.8713 15.4921 17.1662 15.4921ZM17.1662 10.8097C16.2891 10.8097 15.5756 11.5232 15.5756 12.4C15.5756 13.2772 16.2891 13.9906 17.1662 13.9906C18.0434 13.9906 18.7569 13.2772 18.7569 12.4C18.7569 11.5232 18.0434 10.8097 17.1662 10.8097Z'
                            fill='#EBEBEB'
                        ></path>
                    </svg>
                </div>
                <span>Фильтры</span>
            </button>
        </div>
    </div>

    <div class='tags-en-filters-wrapper is-hidden'>

        <div class='tags-button-wrapper' hidden>
            <button class='tags-button buttons is-dissabled-buttons'>
                <div class='svg'>
                    <svg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                        <path
                            d='M11.7766 4.20168L6.20164 4.20168C5.09707 4.20168 4.20164 5.09711 4.20164 6.20168L4.20164 11.7766C4.20164 12.307 4.41235 12.8158 4.78743 13.1908L15.1824 23.5858C15.9634 24.3668 17.2298 24.3668 18.0108 23.5858L23.5857 18.0109C24.3668 17.2298 24.3668 15.9635 23.5857 15.1824L13.1908 4.78747C12.8157 4.41239 12.307 4.20168 11.7766 4.20168Z'
                            stroke='#EBEBEB'
                            stroke-width='1.5'
                        ></path>
                        <circle
                            cx='10.2941'
                            cy='10.2941'
                            r='2.22104'
                            transform='rotate(45 10.2941 10.2941)'
                            stroke='#EBEBEB'
                            stroke-width='1.5'
                        ></circle>
                    </svg>
                </div>
                <span>Теги</span>
            </button>
        </div>

        <form name='search-form' action='search-form' method='get' id='search-form' class='tags is-hidden'>

            {{#each tf.tags}}
                <div class='tags-items-wrapper'>
                    <button
                        name='{{getMapKey this}}'
                        value='{{getMapKey this}}'
                        id='{{getMapKey this}}'
                        class='tags-items buttons is-enabled-buttons'
                    >
                        <pre>{{getMapValue this}}</pre>
                    </button>
                </div>
            {{/each}}

        </form>

        <div class='filters-button-wrapper' hidden>
            <button class='filters-button buttons is-dissabled-buttons'>
                <div class='svg'>
                    <svg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                        <path
                            d='M14.8248 13.1513H0.750729C0.336014 13.1513 0 12.8153 0 12.4007C0 11.9859 0.336014 11.6499 0.750729 11.6499H14.8248C15.2396 11.6499 15.5756 11.9859 15.5756 12.4007C15.5756 12.8153 15.2396 13.1513 14.8248 13.1513Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2238 13.1514H22.7571C22.3424 13.1514 22.0063 12.8153 22.0063 12.4006C22.0063 11.9859 22.3424 11.6499 22.7571 11.6499H30.2238C30.6385 11.6499 30.9746 11.9859 30.9746 12.4006C30.9746 12.8153 30.6385 13.1514 30.2238 13.1514Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M10.8586 22.6583H0.750729C0.336014 22.6583 0 22.3223 0 21.9076C0 21.493 0.336014 21.1569 0.750729 21.1569H10.8586C11.2733 21.1569 11.6093 21.493 11.6093 21.9076C11.6093 22.3223 11.2733 22.6583 10.8586 22.6583Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2238 22.6583H18.7905C18.3759 22.6583 18.0398 22.3223 18.0398 21.9076C18.0398 21.493 18.3759 21.1569 18.7905 21.1569H30.2238C30.6385 21.1569 30.9746 21.493 30.9746 21.9076C30.9746 22.3223 30.6385 22.6583 30.2238 22.6583Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M6.54759 3.84319H0.750729C0.336014 3.84319 0 3.50713 0 3.09247C0 2.6778 0.336014 2.34174 0.750729 2.34174H6.54759C6.96225 2.34174 7.29832 2.67775 7.29832 3.09247C7.29832 3.50718 6.9623 3.84319 6.54759 3.84319Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M30.2239 3.84319H14.4801C14.0654 3.84319 13.7294 3.50718 13.7294 3.09247C13.7294 2.67775 14.0654 2.34174 14.4801 2.34174H30.2242C30.6388 2.34174 30.9749 2.67775 30.9749 3.09247C30.9746 3.50713 30.6385 3.84319 30.2239 3.84319Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M8.8892 6.18424C7.18383 6.18424 5.79675 4.79717 5.79675 3.09184C5.79675 1.38708 7.18383 0 8.8892 0C10.594 0 11.981 1.38708 11.981 3.09184C11.9807 4.79722 10.5937 6.18424 8.8892 6.18424ZM8.8892 1.50151C8.01204 1.50151 7.29826 2.21499 7.29826 3.09184C7.29826 3.969 8.01204 4.68278 8.8892 4.68278C9.76606 4.68278 10.4795 3.96895 10.4795 3.09184C10.4793 2.21504 9.76575 1.50151 8.8892 1.50151Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M13.0432 25C11.3378 25 9.95081 23.6129 9.95081 21.9075C9.95081 20.2025 11.3378 18.8154 13.0432 18.8154C14.7483 18.8154 16.1353 20.2024 16.1353 21.9075C16.135 23.6129 14.748 25 13.0432 25ZM13.0432 20.3169C12.166 20.3169 11.4523 21.0305 11.4523 21.9077C11.4523 22.7848 12.166 23.4987 13.0432 23.4987C13.9204 23.4987 14.6338 22.7848 14.6338 21.9077C14.6338 21.0305 13.9201 20.3169 13.0432 20.3169Z'
                            fill='#EBEBEB'
                        ></path>
                        <path
                            d='M17.1662 15.4921C15.4612 15.4921 14.0741 14.1051 14.0741 12.4C14.0741 10.6952 15.4612 9.30817 17.1662 9.30817C18.8713 9.30817 20.2583 10.6952 20.2583 12.4C20.2583 14.1051 18.8713 15.4921 17.1662 15.4921ZM17.1662 10.8097C16.2891 10.8097 15.5756 11.5232 15.5756 12.4C15.5756 13.2772 16.2891 13.9906 17.1662 13.9906C18.0434 13.9906 18.7569 13.2772 18.7569 12.4C18.7569 11.5232 18.0434 10.8097 17.1662 10.8097Z'
                            fill='#EBEBEB'
                        ></path>
                    </svg>
                </div>
                <span>Фильтры</span>
            </button>
        </div>

        <form name='search-form' action='search-form' method='get' id='search-form' class='filters-form filters is-hidden'>
            <fieldset class='filters-static'>
                <legend>Время чтения</legend>
                <div class='filters-static-wrapper'>
                    <label for='r-time-from'>От</label>
                    <input id='r-time-from' name='r-time-from' type='number' value='0' min='0' max='98' maxlength='2' />
                    <label for='r-time-to'>до</label>
                    <input id='r-time-to' name='r-time-to' type='number' value='20' min='1' max='99' maxlength='2' />
                    <span>мин</span>
                </div>
                <label>Дата публикации</label>
                <div class='filters-static-select-wrapper'>
                    <select class='filters-static-select' name='publication-year' id=''>
                        <option value='none'>Не имеет значения</option>
                        <option value='2022'>2022</option>
                        <option value='2021'>2021</option>
                        <option value='2020'>2020</option>
                    </select>
                </div>
            </fieldset>

            <div class='filters-difficult'>
                {{#each tf.filtersDiffult}}
                    <div class='filters-difficult-wrapper'>
                        <input name='{{getMapKey this}}' type='checkbox' value='{{getMapKey this}}' id='{{getMapKey this}}' />
                        <label for='{{getMapKey this}}'>{{getMapValue this}}</label>
                    </div>
                {{/each}}
            </div>

            <div class='filters-theme'>
                {{#each tf.filtersTheme}}
                    <div class='filters-theme-wrapper'>
                        <input name='{{getMapKey this}}' type='checkbox' value='{{getMapKey this}}' id='{{getMapKey this}}' />
                        <label for='{{getMapKey this}}'>{{setTagLength (getMapValue this)}}</label>
                    </div>
                {{/each}}
            </div>

        </form>

        <div class='filters-submit-wrapper'>
            <button
                name='submitButton'
                form='search-form'
                formaction='search-form'
                formmethod='get'
                class='filters-submit buttons is-enabled-buttons is-hover-submit'
                type='submit'
            >
                <span>Применить</span>
            </button>
        </div>
    </div>

</div>